body {
  @apply font-serif;

  h1,
  h2,
  h3,
  h4 {
    @apply leading-[125%] text-mediterraneanblue font-bold;
  }

  h1,
  h1 span {
    @apply text-5xl mb-7
    max-md:text-4xl max-md:mb-5;
  }

  h1 span {
    @apply text-darklavender;
  }

  h2 {
    @apply text-4xl mb-5
    max-md:text-3xl max-md:mb-4;
  }

  h3 {
    @apply text-3xl mb-4 font-normal
    max-md:text-2xl max-md:mb-3;
  }

  h4 {
    @apply text-2xl mb-3 font-normal
    max-md:text-xl max-md:mb-2;
  }

  p,
  a,
  li,
  span {
    @apply text-lg text-twilightblue
    max-md:text-base;

    &.large-paragraph {
      @apply text-2xl max-md:text-xl text-twilightblue;
    }
  }

  p {
    @apply mb-2 leading-[175%];
  }

  .main {
    h2,
    h3 {
      @apply mt-8;
    }

    h4 {
      @apply mt-4;
    }

    ul {
      @apply pl-8;
  
      li {
        @apply list-disc mb-3;
      }

      &.horizontal-list {
        @apply flex flex-row md:gap-x-10 justify-center flex-wrap;
      }
    }

    a {
      @apply font-bold underline hover:text-darklavender;
    }  

    .has-2-xl-font-size {
      @apply leading-[130%] mb-3;
    }
  }

  &.home,
  &.about-us,
  &.services,
  &.digital-marketing,
  &.software-development,
  &.multimedia-design {
    .main {
      h2,
      h3,
      h4 {
        @apply mt-0;
      }
    }
  }

  table {
    @apply text-twilightblue my-12;

    th {
      @apply text-2xl !text-center font-bold;
    }

    td {
      @apply !py-8;
    }

    br {
      content: "";
      @apply block my-4;
    }
  }
}