.main {
  .sunergos-footer-cta {
    @apply max-md:px-8 max-md:text-center;

    span {
      @apply relative text-2xl -z-10 leading-[0] font-bold text-transparent bg-clip-text bg-gradient-to-r from-mediterraneanblue to-darklavender
      max-md:text-xl;
    }
  
    a {
      @apply flex flex-row leading-[0] top-[5px] relative text-5xl text-darklavender transition-colors items-center font-normal no-underline
      max-md:text-3xl max-md:leading-[20px];
  
      .cta-arrow {
        @apply relative;
        animation-name: bounce;
        animation-duration: 2s;
        /* animation-timing-function: cubic-bezier(0.7, 0.7, .7, .7); */
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
  
        path {
          @apply transition-all;
        }
      }
  
      &:hover {
        @apply text-mediterraneanblue;
  
        .cta-arrow {
          path {
            @apply stroke-mediterraneanblue;
          }
        }
      }
  
  
    }
  }
  
  @keyframes bounce {
    0% {
      @apply left-3;
    }
  
    50% {
      @apply left-4;
    }
  
    100% {
      @apply left-3;
    }
  }
}
